@font-face {
    font-family: "alte";
    src: url(./fonts/AlteHaasGroteskBold.ttf)
}

body {
    margin: 0;
    font-size: 18 px;
    background-color:black;
    color: black
}

a:hover {
    color: red;
}
.nav {
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 0px;
    background-color: white;
    padding: 25px ;
}

.pie {
    background-color: red;
    align-content: center;
    text-align: center;
    font-size: 20px;
    padding: 25px;
}

ul {
    display: flex; 
    align-content: center;
    align-self: center;
    margin-left: 200px;
    list-style: none;
}

.logo {
    width: 650px;
    height: 100px;
    margin-bottom: px;
}

@font-face {
    font-family: 'Product Sans';
    src: url("fonts/ProductSans.woff2");
}

body {
    font-size: 18px;
    font-family: 'alte';
}

a {
    text-decoration: none;
    color: black;
    font-size: 19px ;
    margin: 50px;

}


nav.flex {
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 0px;
    font-family: 'alte';
    
}

.hamburguesa {
    height: 800px;
    width: 800px;
    align-content: flex-end;

}

.fondo {
    font-size: 100px;
    font-family: "alte";
    color: red;
    background-color: #FBE690;
    list-style: none;
    
}

.receta {
    color: red;
    font-size: 80px;
    align-items: center;
    text-align: center;
    background-size: 700px;
}

.hamburpapa {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.imagenes {
    font-size: 40px;
    background-color: white;
    padding: 0em;
    margin-bottom: 100px;
}

.follow {
color: black;
font-size: 50px;
text-align: center;
margin-top: 90px;
margin-bottom: 40px;
}

.collage {
    margin-top: 30px;
    margin-bottom: 50px;
}

.favoritas {
    margin-top: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu {
    font-family: "alte";
    color: red;
    background-color: #FBE690;
    font-size: 100px;
    margin-top: 0px;
    padding: 30px;
    margin-bottom: 0;
    margin-left: 15%;
    background-size: auto;
}

.hamb {
    margin-top: 50px;
    font-family: "alte";
    color: black;
    font-size: 35px;
    margin-left: 22%;
    margin-bottom: 0;
}

.linea {
    width: 800px;
    height: 3px;
    align-content: center;
    text-align: center;
    margin-left: 22%;
}

.alitas {
    margin-top: 110px;
    font-family: "alte";
    color: black;
    font-size: 35px;
    padding: 40px;
}

.contenido {
    font-family: "alte";
    color: black;
    font-size: 20px;
    margin-left: 22%;
    margin-right: 30%;
}

.fries {
    margin-top: 110px;
    font-family: "alte";
    color: black;
    font-size: 35px;
    padding: 40px;
}

.dessert {
    margin-top: 110px;
    font-family: "alte";
    color: black;
    font-size: 35px;
    padding: 40px;
}

.pastelito {
    margin-top: 50px;
    margin-bottom:100px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.servicio {
    color: black;
    font-size: 60px;
    width: 50%;
    top: 30%;
    position: absolute;
    padding: 32px;
}

.ricas {
    color: red;
    font-size: 80px;
    position: absolute;
    width: 55%;
    top: 50%;
    padding: 32px;
}

.contactanos {
    flex: auto;
    font-family: "alte";
    color: black;
    font-size: 50px;
    margin-top: 50px;
    margin-left: 8%;
}

.msj {
    flex: auto;
    font-family: "alte";
    color: black;
    font-size: 23px;
}

.envio {
    font-family: "alte";
    font-size: 10px;
}

.open {
    font-family: "alte";
    color: black;
    font-size: 50px;
    margin-left: 8%;
    margin-top: 50px;
}

.horario {
    font-family: "alte";
    color: black;
    font-size: 20px;
    margin-left: 8%;
    margin-bottom: 50px;
}

.boton {
    width: 200px;
    font-family: "alte";
    bottom: 20px;
    border: none;
    padding: 16px;
    font-size: .5em;
    margin-bottom: 25px;
    position: relative;
    left: calc(50% - 100px);
    color: white; 
    background-color: red;
    transition-duration: 0.4s;
    cursor: pointer;  
}

.boton:hover {
    background-color: white;
    color: red;
    border: red;
    border: 2px solid red;
}

.especialidad {
    top: 100px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.enviar {
    background-color: white;
    color: black;
    border: 2px solid black;
    font-family: "alte";
    padding: 18px 40px;
    font-size: 15px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: 10px;
}

.enviar:hover {
    background-color: red;
    color: white;
    border: none;
}

.sociales {
    width: 150px;
}

.nombre {
    font-size: 15px;
    font-family: "alte";
}

.apellido {
    font-size: 15px;
    font-family: "alte";
}

.email {
    font-size: 15px;
    font-family: "alte";
}

.mensaje {
    font-size: 15px;
    font-family: "alte";
}

.papas4 {
   
}

flex

border css