@font-face {
    font-family: "alte";
    src: url(./fonts/AlteHaasGroteskBold.ttf)
}

body {
    font-size: 18 px;
    background-color:black;
    color: black
}

a:hover {
    color: red;
}
.nav {
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 30px;
    
}

.pie {
    background-color: red;
    align-content: center;
    text-align: center;
    font-size: 15px;
    background-size: 500px;
}

ul {
    display: flex; 
    align-content: center;
    align-self: center;
    margin-left: 200px;
    list-style: none;
}

.logo {
    width: 650px;
    height: 100px;
    margin-bottom: px;
}

@font-face {
    font-family: 'Product Sans';
    src: url("fonts/ProductSans.woff2");
}

body {
    font-size: 18px;
    font-family: 'alte';
}

a {
    text-decoration: none;
    color: black;
    font-size: 19px ;
    margin: 50px;

}


nav.flex {
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 0px;
    font-family: 'alte';
    
}

.hamburguesa {
    height: 800px;
    width: 800px;
    align-content: flex-end;

}

.fondo {
    font-size: 100px;
    font-family: "alte";
    color: red;
    background-color: #FBE690;
    list-style: none;
}

.receta {
    color: red;
    font-size: 80px;
    align-items: center;
    text-align: center;
    background-size: 700px;
}

.hamburguesa1 {
    width: 380px;
    height: 400px;
}

.hamburguesa2 {
    width: 380px;
    height: 400px;
}

.papas {
    width: 380px;
    height: 400px;

}

.postre {
    width: 600px;
    height: 500px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.imagenes {
    font-size: 40px;
    background-color: white;
}

.follow {
color: black;
font-size: 50px;
text-align: center;
margin-top: 40px;
}

.captura {
    margin-top: 70px;
    margin-bottom: 70px;
    margin-right: 70px;
}

.collage {
    margin-top: 30px;
    margin-bottom: 50px;
}

.favoritas {
    margin-top: 80px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.menu {
    font-family: "alte";
    color: red;
    background-color: #FBE690;
    font-size: 100px;
}

.hamb {
    margin-top: 70px;
    font-family: "alte";
    color: black;
    font-size: 30px;
}

.linea {
    width: 1000px;
    height: 6px;
    align-content: center;
    text-align: center;
}

.alitas {
    margin-top: 110px;
    font-family: "alte";
    color: black;
    font-size: 30px;
}

.contenido {
    font-family: "alte";
    color: black;
    font-size: 20px;
}

.fries {
    margin-top: 110px;
    font-family: "alte";
    color: black;
    font-size: 30px;
}

.dessert {
    margin-top: 110px;
    font-family: "alte";
    color: black;
    font-size: 30px;
}

.pastelito {
    margin-top: 30px;
    margin-bottom: 50px;
    display: block;
  margin-left: auto;
  margin-right: auto;

}

.servicio {
    color: black;
}

.ricas {
    color: red;
}